*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:#d32f2f;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.container{

width:100%;

display:flex;

justify-content:center;

}

.login-card{

background:white;

padding:40px;

border-radius:20px;

width:360px;

text-align:center;

box-shadow:0px 10px 30px rgba(0,0,0,.3);

}

.logo{

width:90px;

margin-bottom:15px;

}

h1{

color:#d32f2f;

margin-bottom:10px;

}

h3{

margin-bottom:10px;

}

p{

margin-bottom:25px;

color:#555;

}

input{

width:100%;

padding:14px;

margin-bottom:15px;

border:1px solid #ccc;

border-radius:8px;

font-size:16px;

}

button{

width:100%;

padding:15px;

background:#d32f2f;

color:white;

border:none;

border-radius:8px;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#b71c1c;

}