.header-top {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;
}

.btnTambah {
  background: #c62828;

  color: white;

  padding: 12px 18px;

  border: none;

  border-radius: 8px;

  cursor: pointer;

  font-size: 15px;
}

.search-box {
  margin-bottom: 20px;
}

.search-box input {
  width: 100%;

  padding: 14px;

  border-radius: 8px;

  border: 1px solid #ccc;

  font-size: 16px;
}
